<!DOCTYPE html>
<html>
<head>
	<title>Profile Form</title>
</head>
<body>

<h2>Profile Form</h2>

<form action="./update_profile" id="profile_form" method="post">
    Enter a nickname
    <input type="text" name="nickname" placeholder="choose a nickname" ><br>

    Pick a profile number:
    <input type="text" name="profile_id" placeholder="enter your id number" ><br>
 

  <button type="submit">CLICK ME</button>
</form> 

<p>this is a form</p>

</body>
</html>